.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  color: tomato;
  background: white;
  padding: 4px 32px;
  flex-shrink: 0;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 15px;
  flex-shrink: 0;
}

a {
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  background: white;
  color: blue;
  padding: 8px;
  flex-shrink: 0;

  /* this removes the line under the links */
  text-decoration: none;
}